.notificationsStyle {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	height: 10%;
	width: auto;
	z-index: auto;
}
.titlestyle {
	position: relative;
	top: auto;
	right: auto;
	left: auto;
	bottom: auto;
	height: 10%;
	width: auto;
	z-index: auto;
	text-align: center;
	font-size: xx-large;
}
.friendsStyle {
	float: left;
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	height: 80%;
	width: 20%;
	z-index: auto;
}
.windowStyle {
	float: right;
	position: relative;
	bottom: auto;
	top: auto;
	right: auto;
	left: auto;
	height: 80%;
	width: 60%;
	z-index: auto;
}
.spareStyle {
	float: right;
	position: relative;
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	height: 80%;
	width: 20%;
	z-index: auto;
}
.pageStyle {
	/*background: #006600 /*#555 url("http://www.reka.us//rekaim/Fantasy/This_Chosen_Tree_Wallpaper_by_P0RG.jpg") no-repeat fixed center	*/;
	background: #000000 url("http://www.deviantart.com/download/127308384/wallpaper_by_J_Sheldon.jpg");
	font-family: COMIC SANS MS;
	font-size: 20px;
	font-style: bold;
	font-weight: 400;
	text-shadow: none;
	text-decoration: none;
	text-transform: none;
	letter-spacing: 0em;
	word-spacing: 0em;
	line-height: 1.2;
	color: white;
}

A:link {text-decoration: none; color: #339999;}
A:visited {text-decoration: none; color: #339999;}
A:active {text-decoration: none; color: #339999;}
A:hover {text-decoration: underline; color: #339999;}

.threadsListTableStyle{
	border-color: white;
	border-style: solid;
	border-width: 1px;
	height: 45px;
	width: 840px;
}
.threadsListThStyle{
	font-size: 18px;
	line-height: normal;
	color: #339999;
	white-space: normal;
	width: 160px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}
.threadsListTdStyle{
	width: 160px;
	font-size: large;
	text-align: left;
	white-space: normal;
	height: 29px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}
.threadsListThLastChangeStyle{
	font-size: 18px;
	line-height: normal;
	color: #339999;
	white-space: normal;
	width: 200px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}
.threadsListTdLastChangeStyle{
	width: 200px;
	font-size: large;
	text-align: left;
	white-space: normal;
	height: 29px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
}
.postsListTableStyle{
	border-color: white;
	border-style: solid;
	border-width: 1px;
	width: 600px;
}
.postsListThStyle{
	font-size: 18px;
	line-height: normal;
	color: #339999;
	white-space: normal;
	width: 500px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}
.postsListThAuthorStyle {
	font-size: 18px;
	line-height: normal;
	color: #339999;
	white-space: normal;
	width: 100px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}
.postsListTdStyle{
	font-size: large;
	text-align: center;
	white-space: normal;
	width: 500px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	text-align: left;
}
.postsListTdAuthorStyle{
	font-size: large;
	text-align: center;
	white-space: normal;
	width: 100px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	text-align: center;
}
.buttonsStyle1{
	width: 70px;
/*	height: 42px;
	width: 148px;
	background-color: Navy;
	font-size: 100%;
	color: White;
	font-style: italic;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
*/
}
.buttonsStyle{
/*	height: 42px;
	width: 148px;
	background-color: Navy;
	font-size: 100%;
	color: White;
	font-style: italic;
	font-family: Tahoma, Verdana, Arial, Sans-Serif;
*/
}
.selectStyle{
	width: 100px;
}
