<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	<!-- TODO: Optionally add a <welcome-file-list> tag to display a welcome file. -->
	
	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>jsp.LoginServlet</servlet-class>
	</servlet>
   
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>registration</servlet-name>
		<servlet-class>jsp.RegServlet</servlet-class>
	</servlet>
   
	<servlet-mapping>
		<servlet-name>registration</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>forum</servlet-name>
		<servlet-class>jsp.ForumServlet</servlet-class>
	</servlet>
   
	<servlet-mapping>
		<servlet-name>forum</servlet-name>
		<url-pattern>/forum</url-pattern>
	</servlet-mapping>

</web-app>
