<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>web.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/wsep112_web/greet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>WebControllerServlet</servlet-name>
    <servlet-class>web.server.WebControllerImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>WebControllerServlet</servlet-name>
    <url-pattern>/wsep112_web/WebController</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Wsep112_web.html</welcome-file>
  </welcome-file-list>

</web-app>
